@import './utils/main.utils.scss';
@import './module/module.main.scss';

.wrapper {
    padding: 0 5rem;
    min-height: 100%;
    background: linear-gradient(180deg, #F5F5FA 0%, #F2DAD5 44.15%, #A0ABD6 100%);
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 94rem;
}