$white: #fff;
$black: #000;
$darkblue: #231D4F;
$pink: #BB6BD9;
$white2: #F5F5FA;
$beige: #F2DAD5;
$hover: #A847CC;

$p-bold: 'Poppins-Bold', sans-serif;
$p-extra-bold: 'Poppins-ExtraBold', sans-serif;
$p-medium: 'Poppins-Medium', sans-serif;
$p-regular: 'Poppins-Regular', sans-serif;
$p-semi-bold: 'Poppins-SemiBold', sans-serif;