@import '../utils/main.utils.scss';

.plan-pricing {
    margin-top: 4rem;
    .plan-pricing-title {
        margin-bottom: 2.5rem;
        font-family: $p-regular;
        @include font(4rem, 400, normal, $darkblue);
    }
}

.plan-pricing-footer {
    @include flex(row, space-between, center);
    .plan-pricing-text {
        max-width: 58.4rem;
        font-family: $p-medium;
        @include font(1.8rem, 500, normal, #848199);
    }
}